*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    display: grid;
    height: 150vh;
    grid-template-rows: auto auto 1fr auto;/*DIVIDE TODO EL WEBSITE EN 3 SECCIONES, 
    CON EL HEIGHT 15 NOS ASEGURAMOS DEL CRECIMENTO DE LA WEBPAGE, ASEGURADO SCROLL VERTICAL
    SI EFECTAR DISE;O RESPONSIVE.*/
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(253, 252, 249)   
}

main{
    background-color: rgb(242, 248, 248);
}

footer{ 
    display: grid;
    justify-content:center;
    flex-flow: row wrap;

    background-color: #200d3f
}

.logo img{
    height: 100px;   
}


.navbar{ /*SE APLICA EL NVBAR USANDO FLEX BOX PORQUE EL UL ES UN BLOCK ELEMENT, OCUPA TODA UNA LINEA*/
    
    display: flex;
    flex-flow: row wrap; /*PARA DISE;O RESPONSIVE SE AJUSTA PARA NO TENER QUE ACTIVAR EL SCROLL BAR*/
}

nav li{
    list-style: none;    
}

.iconsize{
    margin: 0.5rem;
    font-size: 1.5rem;
}
.navbar  a{
    display: inline-block; /*PERMITE AJUSTAR A LA ANCHURA DE LOS DEMAS COMPONENTE*/
    padding: 25px;
    margin: 0 25px;
    color: rgb(93, 93, 245);
    text-decoration: none;
    align-items: center;
}

.navbar a:hover{
    background-color: rgb(201, 232, 253);
    font-weight: 700;
}


.flex-container{
    display: flex; /*LINEA DE CODIGO CONVIERTE AL DIV EN UN FLEX CONTAINER*/
    /*FLEX-DIRECTION POR DEFECTO ES ROW*/
    /*IMPORTANTE FLEXBOX TRABAJA EN UNA DIMENSION FILA O COLUMNA*/
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    
}

.navbarprograms{
   
    background-color: #BA0520;
}

#programsnav a{
    color: white;
}

#programsnav a:hover{
    background-color: #f3576f;
}

.container-grid{
    display: grid;
    justify-content: center;
    grid-template-rows: auto  auto 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
}

.item{
    text-align: center;
    padding: 20px;
}

.logofooter img{
    height: 60px;
    filter: brightness(0) invert(1); /*hace imagen en blanco*/
}

h3 {
   font-size: 22px; 
}

.letterColor{
    color: white;
    margin: 1rem;
    font-size: 13px;
}

.espacio{
    margin: 2rem;
}

.bold{
    font-weight: bold;
}

.enlace{
    text-decoration: none;
}

h3 ~ p {
    color: white;
    margin: 1rem;
    font-size: 13px; 
    line-height: 1.5rem;
}